.background-banner {
    background-image: url('../../Assets/candleBanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}